<div class="form-group" style = "width:200px">
    <button 
    class="btn btn-success form-control" 
    *ngIf="!(shouldShowForm | async)" >
        SHOW 
    </button>
    <br>
    <div *ngIf="shouldShowForm | async" >
    <input class="form-control" placeholder="ENGLISH" [(ngModel)]="txten"> 
    <!-- <input class="form-control" placeholder="ENGLISH" >  -->
    <br>
    <input class="form-control" placeholder="VIETNAMESE" [(ngModel)]="txtvn"> 
    <!-- <input class="form-control" placeholder="VIETNAMESE" >  -->
    <br>
    <button class="btn btn-success form-control" > ADD WORD </button>
    <br>
    <br>
    <button class="btn btn-danger form-control" > CANCEL </button>
    </div>
</div>