<!-- <div class="container">
  <br>
  <app-word-form > </app-word-form>
  <app-word-filter></app-word-filter>
  <div *ngFor= "let word of filterWords">
    <app-word 
      [wordInfo] = 'word' >
   
    </app-word>
  </div>
  
</div> -->

<!-- <div class="container">
  <app-sign-in-form>123 </app-sign-in-form>
</div> -->

<nav>
  <a [routerLink]="['/']"  routerLinkActive="active"  > HOME </a>
  <a [routerLink]="['/list']"  routerLinkActive="active"  > LIST </a>
  <!-- <a *ngFor='let person in people'  [routerLink]="['/detail']" routerLinkActive="active" > DETAIL </a> -->
<ul>
  <li *ngFor="let person of people" >
      <a 
      routerLink="/detail/{{ person._id }}" 
      routerLinkActive="active" > 
        {{ person.name}}
      </a>
  </li>
</ul>
</nav>
<router-outlet></router-outlet>
